
.containerAside{
    display: flex;
    padding: var(--padding-global);
}
.asideLinks {
    width: 200px; 
    background-color: var(--cinza-color); 
    padding: 20px;
    border-radius: 5px;
    min-height: 100%; 
    font-weight:600;
    
    height: 100vh;
}

.option {
    color: var(--black-color);
    padding: 8px 0;
    cursor: pointer;
    font-size: 18px; 
}

.selectedOption {
    color: var(--black-color); 
    padding: 8px 0;
    cursor: pointer;
    font-size: 18px; 

}

.content{
    display: flex;
}