:root {
    --blue-color: #0072bbff;
    --black-color: #212227;
    --cinza-color: #d9d9d9;
    --red-error-color: #ff0035ff;
    --padding-global: 0 120px;
}
.containerAside{
    display: flex;
    padding: var(--padding-global);
    flex-direction: row;
    width: 100%;
}
.asideLinks {
    width: 200px; 
    background-color: var(--cinza-color); 
    padding: 20px;
    border-radius: 5px;
    min-height: 130%; 
}

.option {
    color: var(--black-color);
    padding: 8px 0;
    cursor: pointer;
    font-size: 18px; 
}

.selectedOption {
    color: var(--black-color); 
    padding: 8px 0;
    cursor: pointer;
    font-size: 18px; 

}

.content{
    display: flex;
    margin: 0px 20px;
}