.selectCategoria {
    border-radius: 10px;
    border: 2px solid var(--cinza-color);
    color: var(--black-color);
    font-size: 18px;
    width: 100%;
    background: var(--branco-color);
    padding: 10px;
}

.formTecnico {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.formSelect {
    display: flex;
}

.tecnicoBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formBtn {
    justify-content: center;
    color: var(--branco-color);
    font-size: 18px;
    width: 200px;

}

.labelInputTecnico {
    position: relative;
    left: 5px;
    top: 10px;
    font-size: 16px;
    color: var(--black-color);
    padding: 0 5px;
    transition: 200ms ease-in-out;
    pointer-events: none;
    font-weight:600;
    width: 100%;
    background-color: var(--branco-color);
}
