.banner{
    background-color: var(--cinza-color);
    display: flex;
    justify-content: center;
    
}
.banner img{
    width: 50vw;
    height: 50vh;
}

.containerFAQ{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

.faq{
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color); 
    padding: 16px;
    margin-bottom: 16px;
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
}
.faqLinha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 100%;
}
.faqLinha button{
    border: none;
    background-color: var(--white-color) ;
    padding: 1px;
}

.textoFaq{
    display: none;
}

.mostrar{
    display: block;
}

summary::-webkit-details-marker {
    display: none
  }
  summary:after {
    background: black; 
    content: "+"; 
    color: #fff; 
    float: left;  
    font-weight: bold; 
    padding: 0; 
    text-align: center; 
    width: 20px;
    left: 20px;
    margin-right: 10px;
  }
  details[open] summary:after {
    content: "-";
  }