.ticket-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-global); 
    margin-top: 20px;
}

.ticket-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.filter-container {
    flex: 1;
    margin-right: 10px;
    justify-content: center;
}
.ticket-filters{
    align-items: center;
}
.ticket-filters .selectFilter {
    padding: 8px 12px;
    background-color: var(--blue-color);
    border-radius: 10px;
    color: var(--white-color);
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.btnTicket{
    display: flex;
    align-items: center;
    padding: 3px 6px;
    background-color: var(--blue-color);
    border-radius: 10px;
    color: var(--white-color);
    font-size: 18px;
    cursor: pointer;
    border: none;
    
}

.ticket-filters .selectFilter:hover,
.ticket-filters .btnTicket:hover {
    color: var(--white-color);
}

.ticket-types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    font-weight: bold;
    background-color: var(--gray-color);
    justify-content: center;
    font-size: 22px;
    padding: 20px 0;
}

.ticket-types div {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.ticket-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--white-color);
    margin-bottom: 10px;
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color); 
    border-radius: 5px;
    border-left: none;
    border-right: none;
    font-size: 16px;
    align-items: center;
}

.ticket-itemDiv {
    display: flex;
    justify-content: center;
    padding: 15px 20px; 
    text-align: center;
    word-break: break-word;
}

.ticket-filters .selectFilter,
.ticket-filters .btnTicket {
    color: var(--white-color);
}

.ticket-filters .selectFilter:hover,
.ticket-filters .btnTicket:hover {
    color: var(--white-color);
}

.material-symbols-outlined{
    padding: 5px;
}
h1{
    padding: 0 0 20px;
}
.ticket-content {
    background-color: var(--gray-color);
    height: 100%;
    min-height: 100vh;
    padding: 20px 10%;
}

.modal-content {
    position: relative;  /* Garante que o posicionamento de children absolutos seja relativo a este bloco */
    padding: 20px;       /* Ajuste conforme necessário */
    box-sizing: border-box; /* Isso ajuda a manter padding dentro da caixa */
}

@media (min-width: 900px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 900px) {
    .ticket-types {
        display: none;
    }

    .ticket-item {
        display: flex;
        flex-direction: column;
    }

    .ticket-itemDiv:first-child {
       display: none;
    }

    .ticket-itemDiv {
        padding: 5px;
    }

    .desktop {
        display: none;
    }
    
}
