:root {
    --blue-color: #0072bbff;
    --black-color: #212227;
    --cinza-color: #ccdbdcff;
    --red-error-color: #ff0035ff;
    --padding-global: 0 120px;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-global); 
    margin-top: 20px;
}

.ticket-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.filter-container {
    flex: 1;
    margin-right: 10px;
    justify-content: center;
}

.ticket-filters .selectFilter,
.ticket-filters .new-ticket-button {
    padding: 6px 12px;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    color: var(--cinza-color);
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.ticket-filters .selectFilter:hover,
.ticket-filters .new-ticket-button:hover {
    background-color: var(--black-color);
    color: var(--cinza-color);
}

.ticket-list {
    width: 100%;
}

.ticket-types {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 10px;
    font-weight: bold;
    background-color: var(--cinza-color);
    justify-content: center;
}

.ticket-types div {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.ticket-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.ticket-item div {
    display: flex;
    justify-content: center; 
}

.ticket-filters .selectFilter,
.ticket-filters .new-ticket-button {
    color: var(--cinza-color);
}

.ticket-filters .selectFilter:hover,
.ticket-filters .new-ticket-button:hover {
    color: var(--cinza-color);
}
