.containerBase, .basePost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 15px;
    margin: 10px;
    border-bottom: 2px var(--cinza-color) solid;
    border-top: 2px var(--cinza-color) solid;
    width: 100%;
}

.inputBorder{
    border: none;
}

.inputBase {
    width: 665px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.basePost {
    white-space: normal;
}