.modal-content{
    background-color: var(--branco-color);
    
}
.modal-perfil{
    padding: 10px;
    width: 400px;
}
.info-perfil{
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    padding: 10px;
}
.info-name-perfil{
    color: var(--blue-color);
    padding: 10px 0 5px;
}
.account-circle{
    display: flex;
    justify-content: center;
    color: var(--blue-color);
    padding: 10px;

}
#account{
    font-size: 128px;
}