.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.auth-form {
  
  padding: 30px;
  
}
.auth-title2 {
  color: #AAAA;
  text-align: center;
  font-size: 28px;
}

.auth-title {
  font-size: 32px;
  color: #0072BB;
  margin-bottom: 20px;
  text-align: center;
}

.auth-input-group {
  margin-bottom: 20px;
  width: 500px;
}

.auth-input-group input {
  
  width: 500px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.auth-input-group input:focus {
  outline: none;
  border-color: #0072BB;
}

.auth-btn {
  border: none;
  border-radius: 3px;
  padding: 10px;
  background-color: #0072BB;
  color: #fff;
  font-size: 22px;
  width: 200px;

}

.auth-btn:hover {
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

