.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-left: 2px solid black; 
}

.auth-form {
  
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.auth-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.auth-input-group {
  margin-bottom: 20px;
}

.auth-input-group input {
  
  
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.auth-input-group input:focus {
  outline: none;
  border-color: #6a7dfe;
}

.auth-btn {
  border: none;
  border-radius: 3px;
  background-color: #0072BB;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #0072BB;
}

.auth-txt1 {
  color: #333;
}

.auth-txt2 {
  color: #0072BB;
}
