
.informacaoCategoria{
    display: flex;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between


}
.containerCategoria{
    display: flex;
    width: 100%;
}

.labelCategoria{
    position: relative;
    left: 10px;
    top: 10px;
    background: var(--branco-color);
    font-size: 16px;
    color: var(--black-color);
    transition: 200ms ease-in-out;
    pointer-events: none;
    font-weight: 600;
    width: 50%;
    padding: 0 5px;

}
.inputCategoria{
    border-radius: 10px;
    border: 2px solid var(--cinza-color);
    color: var(--black-color);
    font-size: 18px;
    background: var(--branco-color);
    padding: 10px;
    width: 90%;
}
.btnAdd{
    display: flex;
    border: none;
    background-color: var(--branco-color);
    align-items: end;
    padding: 10px 5px; /* Aumenta o tamanho do botão */


}
.formCategoria{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background-color: brown; */
}

.itemCategoria{
    /* background-color: brown; */
    width: 50%;
}