.auth-container-principal{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.auth-form {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.auth-title {
  font-size: 32px;
  color: #AAAAAA;
  margin-bottom: 20px;
  text-align: center;
}

.auth-input-group {
  position: relative;
  margin-bottom: 20px;
}

.auth-input-group input {
  text-align: left;
  outline: none;
  border: 2px solid #007BFF; 
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  box-shadow: none;
  transition: 200ms ease-in-out;
}

.auth-input-group input:focus {
  border-color: #007BFF; 
}

.auth-input-group input::placeholder {
  color: transparent; 
}

.auth-input-label {
  position: absolute;
  left: 10px; 
  top: -8px; 
  background: #fff;
  font-size: 14px; 
  color: #AAAAAA; 
  padding: 0 5px;
  transition: 200ms ease-in-out;
  pointer-events: none;
}

.auth-btn {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #0072BB;
  color: #fff;
  font-size: 22px;
  width: 200px;
  
}

.auth-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

