.containerTecnico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    margin: 10px;
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    width: 100%; 
    font-weight:600;

}
.informacaoTecnico{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }
.tecnicoDados{
    display: flex;
    width: 100%;
    gap: 10px;
}
.tecnicoTipo{
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    padding: 10px 12px;
    margin: 5px;
}

.tecnicoTurno{
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    padding: 10px 12px;
}
.selectCategoriaTecAdm {
    border-radius: 10px;
    border: 2px solid var(--gray-color);
    color: var(--black-color);
    font-size: 18px;
    background: var(--white-color);
    padding: 5px;
    
    
}