.modalVisualizar h1 {
    display: flex;
    border-bottom: 2px solid var(--blue-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--blue-color);
    align-items: center;
    word-break: break-word;
}
.modalVisualizar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 800px;
}
.containerVisualizarTicket {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.infoVisualizarTicket {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.infoVisualizarTicket > h2{
    width: 90%;
    word-wrap: break-word;
}
.infoVisualizarTicket p {
    outline: none;
    font-size: 16px;
    color: var(--blue-color);
    font-weight: 600;
}

.infoPair {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
    width: 90%;
    word-break: break-word;
}

.infoPair > p {
    width: 100%;
    word-wrap: break-word;
}

.boldText {
    font-weight: 600;
}



.selectCategoria {
    border-radius: 10px;
    color: var(--black-color);
}
/*
.inputAssunto {
    display: flex;
    text-align: left;
    border: 2px solid rgba(0, 0, 0, 0.2); 
    font-size: 20px;
    border-radius: 10px;
    width: 97%;
    padding: 0 10px;
}

.formInputAssunto {
    width: 100%;
    margin: 10px 0;
}
*/

@media (max-width: 900px) {
    .infoVisualizarTicket {
        width: 100%;
    }
    .containerVisualizarTicket {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .modalVisualizar {
        width: auto;
    }

    .modal-content {
        width: 100%;
    }

    .containerTicketChatTemplate {
        width: 100% !important;
    }
}

@media (max-height: 850px) {
    .modalVisualizarTicket {
        align-items: flex-start;
    }
    .titleMobile{
        font-size: 20px;
    }
    .close{
        font-size: 40px;
    }

}