/* Estilo da barra de progresso do temporizador */
.my-progress-bar-class {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Cor de fundo da barra de progresso */
    height: 5px !important; /* Altura da barra de progresso */
}

.green {
    color: #3e8147;
}