.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #333;
    padding: 0 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.header-left{
    display: flex;
    align-items: center;
    
}

.logo-header{
    width: 80px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    
}

.header-divider {
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    margin-left: 10px;
}

.material-symbols-outlined{
    font-size: 32px;
}
