.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);
    padding: var(--padding-global);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.headerLeft {
    display: flex;
    align-items: center;
}

.logoButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logoHeader {
    width: 80px;
    cursor: pointer; 
}

.headerRight {
    display: flex;
    align-items: center;
}

.btnHeader {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.btnHeader a {
    color: var(--black-color); 
}

.headerDivider {
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    margin-left: 10px;
}

.material-symbols-outlined {
    font-size: 32px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}
.modalVisualizarTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}

.modalContent {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}



.close {
    position: absolute;
    padding: 0 20px;
    right: 20px;
    cursor: pointer;
    font-size: 50px;
    color: var(--blue-color);
}