.modalContent {
  width: 60%;
  max-width: 500px;
}

.modalPerfil {
    padding: 10px;
    width: calc(100% - 20px) !important;
    background-color: var(--white-color);
    z-index: 10000;
}

.modalPerfil h1 {
    border-bottom: 2px solid var(--blue-color);
    padding-bottom: 10px; 
    margin-bottom: 20px; 
    color: var(--blue-color);
}

.confirmButton {
    width: 500px;
}


.dadosPerfil {
    position: relative;
    left: 10px; 
    top: 10px; 
    background-color: var(--white-color);
    font-size: 18px; 
    color: var(--blue-color);
    padding: 0 5px;
    font-weight:600;
}

.infoPerfil {
    text-align: left;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2); 
    display: block;
    box-shadow: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

.imagePerfil {
    display: flex;
    justify-content: center;
    color: var(--blue-color);
}

#account {
    font-size: 100px;
}

.btnPerfilContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.btnPerfil {
    padding: 6px 12px;
    background-color: var(--blue-color);
    border-radius: 10px;
    color: var(--white-color);
    font-size: 18px;
    cursor: pointer;
    border: none;
    width: 150px;
}

.dButton, .cButton{
    border: none;
    border-radius: 10px !important;
    padding: 10px;
    color: var(--white-color);
    font-size: 16px;
    width: 100px;
    cursor: pointer;
}

/* Media Queries para tornar responsivo */
@media (max-width: 768px) {
    .modal{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    .modalContent{
        padding: 10px;
    }
    .close{
        padding: 0 10px;
    }
  
    .confirmButton {
      width: 80%;
    }
  
    .dadosPerfil {
      font-size: 16px;
      left: 0;
      top: 0;
    }
  
    .infoPerfil {
      font-size: 16px;
      padding: 8px;
    }
  
    .btnPerfil {
      width: 80%;
      font-size: 16px;
    }
  
    .dButton, .cButton {
      width: 80px;
      font-size: 14px;
    }
  }
  

  @media (max-width: 480px) {
    .confirmButton {
      width: 80%;
    }
  
    .dadosPerfil {
      font-size: 14px;
      left: 0;
      top: 0;
    }
  
    .infoPerfil {
      font-size: 14px;
      padding: 6px;
    }
  
    .btnPerfil {
      width: 100%;
      font-size: 14px;
    }
  
    .dButton, .cButton {
      width: 80px;
      font-size: 12px;
    }
  
    #account {
      font-size: 80px;
    }
  }