@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


header{
  background-color: #0072BB;
  height: 100vh; 
  align-items: center;
  text-align: center;
}
.App {
  display: flex;
  background-color: #ffff;
  flex-direction: row;

}

nav a {
  color: #FFFFFF;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: none;
}

.title {
  font-family: 'Cabin', sans-serif;
  padding: 64px 32px 0;
  color: #ffff;
}
.botaoCadastro{
  margin: 64px 0 0;
  padding: 12px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  width: 200px;
  font-size: 22px;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
.logo{
  padding: 64px 0 0;
}