/* resetPassword.css */

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Para garantir que o container ocupa a altura total da página */
  background-color: #f0f0f0; /* Colocar um fundo somente nesta página */
}

.reset-password-formContainer {
  background-color: #fff;
  padding: 30px; /* Aumentar o padding para expandir o formulário */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Aumentar a largura do formulário */
  max-width: 550px; /* Garantir que o formulário não exceda a largura da tela */
}

.reset-password-formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar o conteúdo */
}

.reset-password-formContainer h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}



.reset-password-formInput input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Incluir padding e border na largura total */
}

.reset-password-errorMessage {
  color: var(--red-color);
  font-size: 14px;
  text-align: center;
}

.reset-password-formBtn {
  width: 100%; /* Ajustar a largura do botão ao container */
  background-color: var(--blue-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box; /* Incluir padding e border na largura total */
}

.reset-password-formBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .reset-password-container {
    padding: 20px
  }
  

}
@media (max-width: 480px) {
  .reset-password-container {
    padding: 20px
  }
  

}