.slaInfo{
    color: var(--red-error-color);
}
.statusTicket{
    display: flex;
    font-size: 20px;
    align-items: center;
    color: var(--black-color);
}
.btnVisualizar {
    border-bottom: 2px solid var(--blue-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--blue-color);
    display: flex;
    
}
.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
